<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
 <div class="container">
            <div th:replace="fragments/header :: header"></div>
     <div class="row">
         <div class="col-md-12">
             <nav aria-label="breadcrumb" class="float-end">
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a th:href="@{/products/product}">List Product</a></li>
                     <li th:if="${product.id == 0}" class="breadcrumb-item active" aria-current="page">Create Product</li>
                     <li th:if="${product.id != 0}" class="breadcrumb-item active" aria-current="page">Update Product</li>
                 </ol>
             </nav>
         </div>
     </div>
            <div class="card">
                <div class="card-header">
                    <span th:if="${product.id == 0}">Create Product</span>
                    <span th:if="${product.id != 0}">Update Product</span>
                </div>
                <div class="card-body">
                    <form th:action="@{/products/create}" method="post" th:object="${product}">
                        <input th:field="*{id}"  hidden>
                        <div class="mx-2">
                            <label>Select Category</label>
                            <select class="form-control" th:field="*{category}">
                                <option th:each="category : ${product.categories}" th:text="${category.name}"
                                        th:value="${category.id}"
                                ></option>
                            </select>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label> Product Name</label>
                                    <input class="form-control" th:field="*{name}" type="text" placeholder="Product Name">
                                </div>
                                <div class="col">
                                        <label> Product Code</label>
                                        <input class="form-control" th:field="*{code}" type="text" placeholder="Product Name">
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label> Product Barcode</label>
                                    <input class="form-control" th:field="*{barcode}" type="text" placeholder="Product Name">
                                </div>
                                <div class="col">
                                    <label> Product Cost</label>
                                    <input class="form-control" th:field="*{cost}" type="text" placeholder="Product Name">
                                </div>

                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <label> Product Price</label>
                                    <input class="form-control" th:field="*{price}" type="text" placeholder="Product Name">
                                </div>
                                <div class="col">
                                    <label> Product Qty</label>
                                    <input class="form-control" th:field="*{qty}" type="text" placeholder="Product Name">
                                </div>

                            </div>
                        </div>

                        <div class="mx-2">
                            <label> Description</label>
                            <input class="form-control" th:field="*{description}" type="text" placeholder="Product Name">
                        </div>
                        <div class="mx-2">
                            <label> Stock Typ</label>
                            <input class="form-control" th:field="*{stockType}" type="text" placeholder="Product Name">
                        </div>
                        <div class="mx-2">
                            <label>Select Status</label>
                            <select class="form-control" th:field="*{status}">
                                <option th:each="status : ${product.statusList}" th:text="${status.value}"
                                        th:value="${status.key}"
                                ></option>
                            </select>
                        </div>

                        <button th:if="${product.id == 0}" class="btn btn-primary btn-sm mt-2">Create</button>
                        <button th:if="${product.id != 0}" class="btn btn-primary btn-sm mt-2">Update</button>


                    </form>
                </div>

            </div>

        </div>
</body>
</html>